body {
background-color: #FFFFFF;
}

@font-face {
	font-family:retro;
	src: url(../fonts/retro.ttf);
}

h1 {
	color:#2010a0;
  	font-family:retro;
  	font-size: 60px; 
}

h2 {
	color:#2010a0;
	font-family:retro;}

h3 {
	color:#2010a0;
	font-family:retro;
}

a {
	color:#2010a0;
   	font-family:retro;
}

p {
	color:#2010a0;
   	font-family:retro;
   	font-size: 24px; 
}


.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar { 
	color:#2010a0;
}



